
// button ====================================================================================================//

.button {
	padding: 20px 36px;
	background-color: $green;
	border-radius: 8px;
	font-weight: 500;
	font-size: 22px;
	line-height: 118.181818%; /* 26/22 */
	color: #fff;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #229754;
	}
}

// copy ====================================================================================================//

.copy {
	font-size: 12px;
	line-height: 120%;
	color: #646464;
	opacity: 0.6;
}