// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}

// Прячем бургер на больших экранах
.menu__icon {
	//display: none;
}

@media (max-width: $mobile) {
	//.menu__icon {
		//display: block;
	//	position: relative;
	//	width: rem(30);
	//	height: rem(18);
	//	cursor: pointer;
	//	z-index: 5;

	//	// Три полоски
	//	span,
	//	&::before,
	//	&::after {
	//		content: "";
	//		transition: all 0.3s ease 0s;
	//		right: 0;
	//		position: absolute;
	//		width: 100%;
	//		height: rem(2); //10%
	//		background-color: #fff;
		//}

	//	&::before {
	//		top: 0;
	//	}

	//	&::after {
	//		bottom: 0;
	//	}

	//	span {
	//		top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
	//	}
	//}

	//.menu__icon._active {
	//	span {
	//		width: 0;
	//	}

	//	&::before,
	//	&::after {}

	//	&::before {
	//		top: calc(50% - rem(1));
	//		transform: rotate(-45deg);
	//	}

	//	&::after {
	//		bottom: calc(50% - rem(1));
	//		transform: rotate(45deg);
	//	}
	//}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		//&::before {
		//	content: '';
		//	position: fixed;
		//	width: 100%;
		//	top: 0;
		//	left: 0;
		//	height: 70px; // Высота шапки
		//	//background-color: #912105;
		//	z-index: 2;
		//}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: 0;
	}
}

//  ====================================================================================================//

.header {

	&__container {}

	&__menu {
		position: fixed;
		position: relative;
		@include adaptiveValue("padding-top", 45, 0, 1420, 767, 2);
		@include adaptiveValue("padding-bottom", 45, 0, 1420, 767, 2);
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
			justify-content: space-between;
		}
	}
}

.menu {

	&__logo {
		position: relative;
		z-index: 5;
		@include adaptiveValue("padding-right", 95, 10, 1420, 767, 2);

		img {
			max-width: 100%;
			@media (max-width: 992px) {
				width: 80%;
			}
		}
	}

	&__body {}

	&__list {
		@media (min-width: 767.1px) {
			display: flex;
			@include adaptiveValue("gap", 60, 15, 1420, 767, 2);
		}
		@media (max-width: 767px) {
			li:not(:last-child){
				margin: 0px 0px 45px 0px;
			}
		}
	}

	&__icon {}
}

.menu-link {
	font-size: 16px;
	line-height: 118.75%;
	color: #1D1D1B;
	@media (max-width: 767px) {
		font-size: 20px;
		line-height: 120%; /* 24/20 */
	}
	transition: all 0.3s ease 0s;
	&:hover {
		color: $green;
	}
}

.icon {
	@media (max-width: 767px) {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: 5;
	}

	&__burger {
		display: none;

		@media (max-width: 767px) {
			display: flex;
		}
	}

	&__cross {
		display: none;
	}
}
.menu__icon._active {

	.icon__cross {
		@media (max-width: 767px) {
			display: flex;
			position: relative;
			z-index: 10;
		}
	}
	.icon__burger {
		display: none;
	}
}