
//  ====================================================================================================//

.materials {
	@include adaptiveValue("padding-top", 200, 100);

	&__container {
	}

	&__navigation {
		display: flex;
		justify-content: space-around;
		margin: 0px -10px;
		//border-bottom: 1px solid #b1b1b1;
		//@include adaptiveValue("padding-bottom", 15, 10);
		@include adaptiveValue("margin-bottom", 90, 30);
	}

	&__title {
		flex: 0 1 25%;
		padding: 0px 10px;
		padding-bottom: 5px;
		font-weight: 300;
		@include adaptiveValue("font-size", 24, 13);
		line-height: 116.666667%; /* 28/24 */
		color: #1D1D1B99;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $green;
		}
	}
	.materials__title._tab-active {
		color: $green;
	}

	.materials__title._tab-active {
		border-bottom: 1px solid $green;
		padding-bottom: 4px;
	}

	&__content {
	}

	&__body {
	}
}

.services {

	&__card {
	}
}

.card-services {

	&__image {
	}

	&__content {
	}

	&__title {
	}

	&__text {
	}

	&__prises {
	}
}
.title {
}
.text {
}
.prices-services {

	&__list {
	}

	&__item {
	}

	&__goods {
	}

	&__decore {
	}

	&__price {
	}
}
